$primary-color: #2196f3;
$primary-color-dark: #1976d2;

$accent-color: #ffab91;
$accent-color-light: #ffccbc;
$background-color: #fff;

$primary-text: rgba(255,255,255,1);
$secondary-text: rgba(255,255,255,0.7);
$disabled-text: rgba(255,255,255,0.5);

$primary-text-dark: rgba(0,0,0,0.87);
$secondary-text-dark: rgba(0,0,0,0.54);
$disabled-text-dark: rgba(0,0,0,0.38);

$box-shadow-color: rgba(50, 50, 50, 0.26);
